# TERRAFORM FILES
# ===============
.terraform/
*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
# ===============

# ANSIBLE FILES
# ===============
*.retry
inventory.ini
ansible.log
ansible/vars/
# ===============

# SCRIPT FILES
# ===============
scripts/*.log
scripts/*.gz
/var/log/application.log
# ===============

# SECURITY & OS
# ===============
*.pem
*.key
id_rsa

.DS_Store
Thumbs.db
# ===============